
.desc {
    margin-left: 30px;
}
.intro {
    font-size: 16px;
}
.wht-option-label {
    font-size: 1.3em;
    font-weight: 600;
}
.wht-header {
    display: block;
}
.wht-donate {
    float: right;
    max-width: 200px;
    text-align: center;
}
.wht-donate p {
    font-size: .8em;
}
hr {
    margin: 20px 0;
}
.wht-description {
    float: left;
    max-width: calc( 100% - 300px);
}

.directories-list {
    line-height: 1.9;
}

.folder {
    margin:0 20px;
    display: none;
    overflow: hidden;
}

.folder.folder-depth-0,
.folder.folder-depth-1,
.folder.folder-depth-2 {
    display: block;
}

.folder.opened > .folder{
    display: block;
}

.wht-control-container {
    padding-right: 4px;
}

.wht-control-container a.wht-control,
.wht-control-container a.wht-control:active,
.wht-control-container a.wht-control:focus {
    outline: 0;
    box-shadow: none;
}

.spacer {
    padding:0 5px;
}

.folder input[type="radio"] {
    margin-top: 0;
}

.folder > .wht-control-container .fa-plus {
    display: inline-block;
}
.folder.opened > .wht-control-container .fa-plus {
    display: none;
}

.folder > .wht-control-container .fa-minus {
    display: none;
}
.folder.opened > .wht-control-container .fa-minus {
    display: inline-block;
}

a.help .dashicons {
  text-decoration: none;
  font-size: 1.25em;
}
a.help:hover .dashicons.dashicons-editor-help:before {
  content: "\f504";
  font-size: .9em;
}

.login-form-table th {
  width: 40%;
}

.remove-link {
  display: none;
}

img.logo_thumb {
  max-height: 40px;
  width: auto;
}

.medium-text {
    width: 105px;
}

#reset-login {
    margin-left: 20%;
}

.form-table input[type="text"] {
    width: 400px;
    max-width: 100%;
}

@media screen and (max-width:500px) {
    .wht-description,
    .wht-donate {
        float: none;
        max-width: 100%;
        width: 100%;
        margin-bottom: 30px;
    }
}